/* BASE STYLES */

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Raleway:wght@400;500;600;700;800&display=swap");
* {
	margin: 0;
	padding: 0;
}

*,
*::after,
*::before {
	box-sizing: inherit;
	font-family: "Raleway", sans-serif;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
}

.container {
	max-width: 136rem;
	margin: 0 auto;
}

/* BASE STYLES END */

/* TOP NAVIGATION START */

header {
	height: 8rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 10rem;
}

.nav-list {
	display: flex;
	gap: 5.5rem;
	list-style-type: none;
}

.nav-list li a {
	text-decoration: none;
	color: #303134;
	font-size: 1.6rem;
	text-transform: uppercase;
}

/* TOP NAVIGATION END */

/* HERO START */

.hero-image {
	height: 57rem;
	background-image: linear-gradient(
			to top,
			rgba(8, 174, 234, 0.5),
			rgba(42, 245, 152, 0.5)
		),
		url("../img/joshua-earle-IXrJ6pKmLRk-unsplash.jpg");
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
}

.hero-inner {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 10rem;
}

.arrow {
	cursor: pointer;
	padding: 1rem;
	background-color: #fff;
}

.arrow-right {
	rotate: 180deg;
}

.hero-center {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.hero-center-top {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 28.7rem;
	height: 8.2rem;
	background-image: url("../img/hero_white_thingy.png");
	background-repeat: no-repeat;
	background-position: center;
	color: #006cd1;
	font-size: 2.1rem;
	font-weight: 800;
	margin-bottom: 0.6rem;
}

.hero-main-txt {
	color: #fff;
	font-size: 7.8rem;
	font-weight: 400;
	margin-bottom: 10rem;
}

.hero-secondary-txt {
	color: #fff;
	font-size: 1.8rem;
	text-transform: uppercase;
	font-weight: 600;
}

/* HERO END */

/* SERVICES START */

.services {
	display: flex;
	gap: 4rem;
	padding: 7rem 10rem;
}

.banner-subtitle {
	font-size: 1.6rem;
	font-weight: 600;
	color: #8d8d8d;
	margin-bottom: 0.5rem;
	text-transform: uppercase;
}

.banner-title {
	font-size: 2.6rem;
	font-weight: 600;
	margin-bottom: 0.5rem;
}

.banner-text {
	margin-top: 2.8rem;
	max-width: 23rem;
	font-size: 1.6rem;
	color: #8d8d8d;
	width: 24rem;
}

/* CARD STYLES */

.services-cards {
	display: flex;
	gap: 3rem;
	flex-wrap: wrap;
}

.services-card {
	max-width: 27rem;
}

.card-title {
	font-size: 1.8rem;
	font-weight: 400;
	color: #1a1a1b;
	margin-top: 1.4rem;
	margin-bottom: 0.8rem;
}

.card-text {
	font-size: 1.6rem;
	font-weight: 400;
	color: #8d8d8d;
}

/* SERVICES SECTION END */

/* VIDEO SECTION START */
.video {
	background-image: url("../img/videoimage.png");
	height: 50rem;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding-top: 6.8rem;
	text-align: center;
	color: white;
}

.video-top p {
	font-size: 1.6rem;
	text-transform: uppercase;
	margin-bottom: 0.7rem;
}

.video-top h2 {
	font-size: 2.6rem;
	font-weight: 400;
	margin-bottom: 0.6rem;
}

.video-arrow {
	fill: white;
}

.video-bottom {
	width: 66rem;
	height: 31rem;
	background-image: url("../img/video_player.png");
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 4px solid #4b54fa;
	margin-bottom: -4px;
}

.video-btn {
	cursor: pointer;
}

/* VIDEO SECTION END */

/* STATISTICS SECTION START */

.statistics {
	padding: 7rem 30rem 5rem 30rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #ebebeb;
}

.statistics-element {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.element-img {
	margin-bottom: 2rem;
}

.element-number {
	font-family: "Lato", sans-serif;
	font-weight: 700;
	font-size: 3.2rem;
	margin-bottom: 0.7rem;
}

.element-text {
	font-size: 1.6rem;
	text-transform: uppercase;
}

/* STATISTICS SECTION END */

/* TOURS SECTION START */

.tours {
	text-align: center;
	padding: 6rem 20rem;
}

.title-secondary {
	font-size: 1.6rem;
	color: #8d8d8d;
	text-transform: uppercase;
	margin-bottom: 1.2rem;
}

.title-primary {
	font-size: 2.6rem;
	text-transform: capitalize;
	color: #1a1a1b;
	margin-bottom: 1.2rem;
}

.tours-container {
	display: flex;
	gap: 3.1rem;
	justify-content: center;
	margin-top: 6.7rem;
}

.tour-element {
	box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
	position: relative;
	padding-bottom: 2.2rem;
}

.tour-type {
	position: absolute;
	top: 1rem;
	left: 1rem;
	background-color: #fed701;
	padding: 0.5rem;
}

.tour-img {
	margin-bottom: 1.5rem;
}

.tour-price,
.tour-duration {
	font-size: 1.4rem;
	color: #1a1a1b;
}

.tour-title {
	font-size: 1.8rem;
	color: #4b54fa;
	margin-top: 1rem;
	margin-bottom: 0.5rem;
}

/* TOURS SECTION END */

/* SUBSCRIBE SECTION START */

.subscribe {
	/* height: 35rem; */
	background-image: url("../img/subscribe-cover.png");
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	margin: 0 auto;
	padding-top: 8rem;
	padding-bottom: 8.2rem;
}

.subscribe-title {
	font-size: 3.4rem;
	letter-spacing: 1px;
	font-weight: 400;
	color: #fff;
	margin-bottom: 2rem;
}

.subscribe-description {
	font-size: 1.8rem;
	color: #fff;
	margin-bottom: 6rem;
}

.subscribe-input {
	-webkit-appearance: none;
	outline: none;
	width: 39.5rem;
	height: 5rem;
	padding: 0 3rem;
	background-color: transparent;
	color: #fff;
	border: 2px solid #fff;
	border-radius: 2.5rem;
	font-size: 1.6rem;
	margin-right: 2.2rem;
}

.subscribe-input::placeholder {
	color: #fff;
	font-size: 1.4rem;
}

.subscribe-btn {
	outline: none;
	border: none;
	width: 15.5rem;
	height: 5rem;
	border-radius: 2.5rem;
	font-size: 1.4rem;
	color: #08aeea;
	cursor: pointer;
	text-transform: uppercase;
}

/* SUBSCRIBE SECTION END */

/* TRAVELERS SECTION START */

.travelers {
	text-align: center;
	padding-top: 7rem;
}

.travelers-container {
	display: flex;
	gap: 3rem;
	justify-content: center;
	margin-top: 8rem;
}

.travelers-card {
	background-color: #f4f4f4;
	max-width: 36.8rem;
	padding: 5.4rem 3.6rem 5rem 3.6rem;
}

.travelers-name {
	font-size: 1.8rem;
	color: #4b54fa;
	text-transform: capitalize;
	margin-top: 1.5rem;
	margin-bottom: 3.66rem;
	font-weight: 500;
}

.travelers-text {
	font-size: 1.6rem;
	font-weight: 500;
	color: #1a1a1b;
	margin-bottom: 5rem;
}

/* TRAVELERS SECTION END */

/* BOOKING SECTION START */

.booking {
	background-image: url("../img/bsssss.png");
	height: 50rem;
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-direction: column;
	padding-bottom: 5rem;
	gap: 4.8rem;
}

.booking-title {
	font-size: 3.6rem;
	font-weight: 500;
	color: #fff;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.86);
}

.booking-btn {
	border: none;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.6rem;
	background: linear-gradient(
		to top,
		rgba(8, 174, 234, 1),
		rgba(42, 245, 152, 0.9)
	);
	padding: 1.4rem 4.2rem;
	border-radius: 2.5rem;
	cursor: pointer;
}

/* BOOKING SECTION END */

/* POPULAR SECTION START */

.popular {
	text-align: center;
	padding: 6rem 0;
}

.popular-wrapper {
	margin-top: 7rem;
	display: flex;
	justify-content: center;
	gap: 2.8rem;
}

.popular-card {
	display: grid;
}

.popular-card-content {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	padding-left: 1.3rem;
	padding-right: 1.3rem;
	padding-bottom: 1.3rem;
}

.card-info-text {
	align-self: flex-start;
}

.popular-country {
	font-size: 3rem;
	color: #fff;
	margin-bottom: 0.5rem;
}

.popular-price {
	font-family: monospace;
	font-size: 1.4rem;
	color: #fff;
}

.card-info-text {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.card-img-wrapper {
	background: linear-gradient(
		to top,
		rgba(8, 174, 234, 1),
		rgba(42, 245, 152, 1)
	);
	height: 4rem;
	width: 4rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	cursor: pointer;
}

.popular-card-thumb,
.popular-card-content {
	grid-area: 1/2;
}

.text-wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

/* MAP */

.map {
	height: 43.5rem;
	background: url("../img/map2.png") no-repeat;
	background-size: cover;
}

/* FOOTER */

footer {
	background-color: #141418;
	padding-top: 5.4rem;
	padding-bottom: 5.4rem;
}

footer .container {
	margin-bottom: 2rem;
	padding-left: 8rem;
}

.row {
	display: flex;
	flex-wrap: wrap;
}
ul {
	list-style: none;
}

.footer-col {
	width: 17%;
	padding: 0 15px;
}

.footer-col h4 {
	font-size: 2rem;
	color: #ffffff;
	margin-bottom: 3rem;
	font-weight: bold;
}

.footer-col ul li:not(:last-child) {
	margin-bottom: 3rem;
}
.footer-col ul li a {
	font-size: 1.6rem;
	color: #dcdbdb;
	text-decoration: none;
	font-weight: 500;
	display: block;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover {
	color: #ffffff;
	padding-left: 8px;
}

.footer-subscribe-title {
	font-size: 1.6rem;
	color: #fff;
	margin-bottom: 1.5rem;
}

.subscribe-container {
	position: relative;
	width: 34rem;
	height: 4.7rem;
	display: block;
}

.newsletter-input {
	-webkit-appearance: none;
	border: none;
	outline: none;
	width: 34rem;
	height: 4.7rem;
	padding-left: 1.5rem;
	padding-right: 7rem;
	font-size: 1.6rem;
	color: #353030;
}
/* 
.newsletter-input::after {
	top: 0;
	left: 0;
	content: "";
	position: absolute;
	height: 4.7rem;
	width: 5.8rem;
	background: linear-gradient(
		to top,
		rgba(8, 174, 234, 1),
		rgba(42, 245, 152, 1)
	);
} */

.subscribe-icon-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	height: 4.7rem;
	width: 5.8rem;
	background: linear-gradient(
		to top,
		rgba(8, 174, 234, 1),
		rgba(42, 245, 152, 1)
	);
	cursor: pointer;
}

.footer-cont-wrapper {
	border-bottom: 1px solid rgba(232, 232, 232, 0.5);
	padding-bottom: 2rem;
}

.copy {
	font-size: 2rem;
	color: #dcdbdb;
	text-align: center;
	margin-top: 2rem;
}

.footer-subscribe {
	margin-left: 20rem;
}

/* FOOTER END */

/* MODAL STYLING */

.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: none;
	max-width: 35rem;
}

.modal::backdrop {
	background: rgb(0 0 0 / 0.6);
}

.dialog-wrapper {
	padding: 1rem 2rem;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.dialog-wrapper h1 {
	font-size: 2.2rem;
}

.modal-btn {
	margin-top: 2rem;
	padding: 2rem 6rem;
	margin-bottom: 1rem;
	border-radius: 2.5rem;
	border: none;
	outline: none;
	background: linear-gradient(
		to top,
		rgba(8, 174, 234, 1),
		rgba(42, 245, 152, 0.9)
	);
	cursor: pointer;
	transition: 0.2s;
}

.modal-btn:hover {
	background: linear-gradient(
		to top,
		rgba(8, 174, 234, 0.5),
		rgba(42, 245, 152, 0.9)
	);
}
